  <!-- START messages-->
    <!--<div class="card card-default">
        <div class="card-header">
            <div class="float-right badge badge-info">33</div>
            <div class="card-title">Unread Messages</div>
        </div>--><!-- START list group-->
        <!--<div class="list-group">-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <img class="mr-3 rounded" style="width: 48px; height: 48px;" src="~/admin/img/user/01.jpg" alt="Image">
                    <div class="media-body clearfix">
                        <small class="float-right">2h</small><strong class="media-heading text-primary">
                            <div class="point bg-success point-lg text-left"></div>Sheila Carter
                        </strong>
                        <p class="mb-sm"><small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small></p>
                    </div>
                </div>
            </div>--><!-- END list group item-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <img class="mr-3 rounded" style="width: 48px; height: 48px;" src="~/admin/img/user/04.jpg" alt="Image">
                    <div class="media-body clearfix">
                        <small class="float-right">3h</small><strong class="media-heading text-primary">
                            <div class="point bg-success point-lg text-left"></div>Rich Reynolds
                        </strong>
                        <p class="mb-sm"><small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small></p>
                    </div>
                </div>
            </div>--><!-- END list group item-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <img class="mr-3 rounded" style="width: 48px; height: 48px;" src="~/admin/img/user/03.jpg" alt="Image">
                    <div class="media-body clearfix">
                        <small class="float-right">4h</small><strong class="media-heading text-primary">
                            <div class="point bg-danger point-lg text-left"></div>Beverley Pierce
                        </strong>
                        <p class="mb-sm"><small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small></p>
                    </div>
                </div>
            </div>--><!-- END list group item-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <img class="mr-3 rounded" style="width: 48px; height: 48px;" src="~/admin/img/user/06.jpg" alt="Image">
                    <div class="media-body clearfix">
                        <small class="float-right">4h</small><strong class="media-heading text-primary">
                            <div class="point bg-danger point-lg text-left"></div>Alex Somar
                        </strong>
                        <p class="mb-sm"><small>Vestibulum pretium aliquam scelerisque.</small></p>
                    </div>
                </div>
            </div>--><!-- END list group item-->
        <!--</div>--><!-- END list group-->
        <!-- START card footer-->
        <!--<div class="card-footer clearfix"><a class="pull-left" href="#"><small>Read All</small></a><a class="float-right" href="#"><small>Dismiss All</small></a></div>--><!-- END card-footer-->
    <!--</div>--><!-- END messages-->
    <!-- START activity-->
    <!--<div class="card card-default">
        <div class="card-header">
            <div class="card-title">Activity feed</div>
        </div>--><!-- START list group-->
        <!--<div class="list-group">-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <div class="mr-3"><span class="fa-stack fa-lg"><em class="fas fa-circle fa-stack-2x text-green"></em><em class="fas fa-cloud-upload-alt fa-stack-1x fa-inverse text-white"></em></span></div>
                    <div class="media-body clearfix">
                        <div class="media-heading text-green m0">NEW UPLOAD</div>
                        <p class="m0"><small>New file<a href="#">entities.xls</a>uploaded to the cloud</small></p><small>5 minutes ago</small>
                    </div>
                </div>
            </div>--><!-- END list group item-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <div class="mr-3"><span class="fa-stack fa-lg"><em class="fas fa-circle fa-stack-2x text-info"></em><em class="fa fa-file fa-stack-1x fa-inverse text-white"></em></span></div>
                    <div class="media-body clearfix">
                        <div class="media-heading text-info m0">NEW DOCUMENT</div>
                        <p class="m0"><small>New document<a href="#">Lorem ipsum</a>created</small></p><small>1 hour ago</small>
                    </div>
                </div>
            </div>--><!-- END list group item-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <div class="mr-3"><span class="fa-stack fa-lg"><em class="fas fa-circle fa-stack-2x text-danger"></em><em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em></span></div>
                    <div class="media-body clearfix">
                        <div class="media-heading text-danger m0">IMPORTANT MESSAGE</div>
                        <p class="m0"><small>Sammy Sam sent you an important messsage.<a href="#">Read now</a></small></p><small>3 hours ago</small>
                    </div>
                </div>
            </div>--><!-- END list group item-->
            <!-- START list group item-->
            <!--<div class="list-group-item">
                <div class="media">
                    <div class="mr-3"><span class="fa-stack fa-lg"><em class="fas fa-circle fa-stack-2x text-warning"></em><em class="fa fa-clock fa-stack-1x fa-inverse text-white"></em></span></div>
                    <div class="media-body clearfix">
                        <div class="media-heading text-warning m0">MEETING</div>
                        <p class="m0"><small>Rich Reynods added a new meeting.<a class="label label-info" href="#">JOIN</a></small></p><small>yesterday</small>
                    </div>
                </div>
            </div>--><!-- END list group item-->
        <!--</div>--><!-- END list group-->
        <!-- START card footer-->
        <!--<div class="card-footer clearfix"><a class="pull-left" href="#"><small>Load more</small></a></div>--><!-- END card-footer-->
    <!--</div> dashboard sidebar-->-->