<!-- offsidebar-->
<!--<aside class="offsidebar d-none">-->
    <!-- START Off Sidebar (right)-->
    <!--<nav>-->
        <!-- START user info-->
        <!--<div class="p-3" style="background-image: url('img/offsidebar-bg.jpg')">
            <div class="text-center">
                <p>
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/admin/img/user/02.jpg" style="width: 64px; height: 64px" alt="Image"/>
                </p>
                <p class="text-white"><strong>Alex</strong></p>
            </div>
        </div>--><!-- END user info-->
        <!-- START list title-->
        <!--<div class="px-2 py-3"><small class="text-muted">ONLINE</small></div>--><!-- START User status-->
        <!--<div class="p-2 dark-on-hover">
            <div class="d-flex">
                <div class="d-flex">
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/admin/img/user/05.jpg" style="width: 64px; height: 64px" alt="Image" />
                    <div class="ml-2"><strong class="text-white">Tommy Sam</strong><br><small class="text-muted">tommy39</small></div>
                </div>
                <div class="ml-auto">
                    <div class="p-1 rounded d-inline-block mr-2 bg-success"></div>
                </div>
            </div>
        </div>--><!-- END User status-->
        <!-- START User status-->
        <!--<div class="p-2 dark-on-hover">
            <div class="d-flex">
                <div class="d-flex">
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/admin/img/user/06.jpg" style="width: 64px; height: 64px" alt="Image" />
                    <div class="ml-2"><strong class="text-white">Beverley Pierce</strong><br><small class="text-muted">be40210</small></div>
                </div>
                <div class="ml-auto">
                    <div class="p-1 rounded d-inline-block mr-2 bg-success"></div>
                </div>
            </div>
        </div>--><!-- END User status-->
        <!-- START User status-->
        <!--<div class="p-2 dark-on-hover">
            <div class="d-flex">
                <div class="d-flex">
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/admin/img/user/07.jpg" style="width: 64px; height: 64px" alt="Image" />
                    <div class="ml-2"><strong class="text-white">Victor Long</strong><br><small class="text-muted">longlong</small></div>
                </div>
                <div class="ml-auto">
                    <div class="p-1 rounded d-inline-block mr-2 bg-danger"></div>
                </div>
            </div>
        </div>--><!-- END User status-->
        <!-- START User status-->
        <!--<div class="p-2 dark-on-hover">
            <div class="d-flex">
                <div class="d-flex">
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/admin/img/user/08.jpg" style="width: 64px; height: 64px" alt="Image" />
                    <div class="ml-2"><strong class="text-white">Danielle Berry</strong><br><small class="text-muted">hunter49</small></div>
                </div>
                <div class="ml-auto">
                    <div class="p-1 rounded d-inline-block mr-2 bg-warning"></div>
                </div>
            </div>
        </div>--><!-- END User status-->
        <!-- START list title-->
        <!--<div class="px-2 py-3"><small class="text-muted">OFFLINE</small></div>--><!-- START User status-->
        <!--<div class="p-2 dark-on-hover">
            <div class="d-flex">
                <div class="d-flex">
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/admin/img/user/09.jpg" style="width: 64px; height: 64px" alt="Image" />
                    <div class="ml-2"><strong class="text-white">Bertha Cooper</strong><br><small class="text-muted">ber123</small></div>
                </div>
                <div class="ml-auto">
                    <div class="p-1 rounded d-inline-block mr-2 bg-gray"></div>
                </div>
            </div>
        </div>--><!-- END User status-->
        <!-- START User status-->
        <!--<div class="p-2 dark-on-hover">
            <div class="d-flex">
                <div class="d-flex">
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/admin/img/user/10.jpg" style="width: 64px; height: 64px" alt="Image" />
                    <div class="ml-2"><strong class="text-white">Anne Curtis</strong><br><small class="text-muted">anni</small></div>
                </div>
                <div class="ml-auto">
                    <div class="p-1 rounded d-inline-block mr-2 bg-gray"></div>
                </div>
            </div>
        </div>--><!-- END User status-->
        <!--<div class="p-2 dark-on-hover">-->
            <!-- Optional link to list more users--><!--<a class="p" href="#" title="See more contacts"><strong><small class="text-muted">&hellip;</small></strong></a>
        </div>
    </nav>
</aside>-->