 <!-- Page content-->
         <div class="content-wrapper">
            <div class="content-header">
               <div class="content-title">Form Wizard</div>
            </div>
            <h5> Basic Form (jquery.validate)</h5>
            <form id="example-form" action="#">
               <div>
                  <h4>Account<br><small>Nam egestas, leo eu gravida tincidunt</small></h4>
                  <fieldset><label for="userName">User name *</label><input class="form-control required" id="userName" name="userName" type="text"><label for="password">Password *</label><input class="form-control required" id="password" name="password" type="text"><label for="confirm">Confirm Password *</label><input class="form-control required" id="confirm" name="confirm" type="text">
                     <p>(*) Mandatory</p>
                  </fieldset>
                  <h4>Profile<br><small>Nam egestas, leo eu gravida tincidunt</small></h4>
                  <fieldset><label for="name">First name *</label><input class="form-control required" id="name" name="name" type="text"><label for="surname">Last name *</label><input class="form-control required" id="surname" name="surname" type="text"><label for="email">Email *</label><input class="form-control required" id="email" name="email" type="text"><label for="address">Address</label><input class="form-control" id="address" name="address" type="text">
                     <p>(*) Mandatory</p>
                  </fieldset>
                  <h4>Hints<br><small>Nam egestas, leo eu gravida tincidunt</small></h4>
                  <fieldset>
                     <p class="lead text-center">Almost there!</p>
                  </fieldset>
                  <h4>Finish<br><small>Nam egestas, leo eu gravida tincidunt</small></h4>
                  <fieldset>
                     <p class="lead">One last check<div class="custom-control custom-checkbox float-left mt-0"><input class="custom-control-input" id="terms" type="checkbox" required name="terms"><label class="custom-control-label" for="terms">I agree with the Terms and Conditions.</label></div>
                     </p>
                  </fieldset>
               </div>
            </form>
            <h4>Basic Vertical Example</h4>
            <div id="example-vertical">
               <h4>Keyboard</h4>
               <section>
                  <p>Try the keyboard navigation by clicking arrow left or right!</p>
               </section>
               <h4>Effects</h4>
               <section>
                  <p>Wonderful transition effects.</p>
               </section>
               <h4>Pager</h4>
               <section>
                  <p>The next and previous buttons help you to navigate through your content.</p>
               </section>
            </div>
         </div>