<li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
     <a href="javascript:;" class="menu-link menu-toggle">
         <i class="menu-bullet menu-bullet-dot">
             <span></span>
         </i>
         <span class="menu-text">File Server API</span>
         <i class="menu-arrow"></i>
     </a>
     <div class="menu-submenu">
         <i class="menu-arrow"></i>
         <ul class="menu-subnav">
             <li class="menu-item" aria-haspopup="true">
                 <a href="/Home" onclick="getAPILink('https://fileserverapi-dev.otokoc.com.tr/profiler/results-index'); return false;" class="menu-link">
                     <i class="menu-bullet menu-bullet-dot">
                         <span></span>
                     </i>
                     <span class="menu-text">Results-index</span>
                 </a>
             </li>
             <li class="menu-item" aria-haspopup="true">
                 <a href="/Home" onclick="javascript:getAPILink('https://fileserverapi-dev.otokoc.com.tr/profiler/results'); return false;" class="menu-link">
                     <i class="menu-bullet menu-bullet-dot">
                         <span></span>
                     </i>
                     <span class="menu-text">Results</span>
                 </a>
             </li>
             <li class="menu-item" aria-haspopup="true">
                 <a href="#" onclick="javascript:getAPILink('https://fileserverapi-dev.otokoc.com.tr/profiler/results-list'); return false;" class="menu-link">
                     <i class="menu-bullet menu-bullet-dot">
                         <span></span>
                     </i>
                     <span class="menu-text">Results-list</span>
                 </a>
             </li>
         </ul>
     </div>
 </li>
