<div class="full-page-background bg-darker"></div>
<div class="d-flex align-items-center justify-content-center h-100 w-100 flex-column">
    <!-- START card-->
    <div class="card b0">
        <img class="img-responsive" src="img/lock-bg.jpg">
        <div class="card-body">
            <h3 class="text-center">Hello Sarah!</h3>
            <p class="text-center">Please login to unlock your screen.</p>
            <form>
                <div class="form-group">
                    <label>Password</label>
                    <div class="float-right"><a class="text-muted" href="recover.html"><small>Forgot your password?</small></a></div>
                    <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="exampleInputEmail1" type="email" placeholder="Enter email" autocomplete="off" required>
                        <div class="input-group-append"><span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-lock"></em></span></div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberme" type="checkbox" name="remember"><label class="custom-control-label" for="rememberme">Remember Me</label></div>
                    <div class="ml-auto"><a class="btn btn-primary" href="dashboard.html">Unlock</a></div>
                </div>
            </form>
        </div>
    </div><!-- END card-->
</div>