    <!-- Page content-->
<div class="content-wrapper">
    <div class="content-header">
        <div class="content-title">Page title<small>Subtitle</small></div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <p>A row with content</p>
        </div>
    </div>
</div>