  <!-- Page content-->
<div class="content-wrapper">
    <div class="content-header">
        <div class="content-title">Loading Spinners<br><small>Based on modern CSS3 animations and ready to be used in Cards</small></div>
    </div><!-- START row-->
    <div class="row">
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">standard</div>
                <div class="card-body whirl standard">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">traditional</div>
                <div class="card-body whirl traditional">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">double-up</div>
                <div class="card-body whirl double-up">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">duo</div>
                <div class="card-body whirl duo">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">blade</div>
                <div class="card-body whirl blade">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">ringed</div>
                <div class="card-body whirl ringed">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">helicopter</div>
                <div class="card-body whirl helicopter">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">line</div>
                <div class="card-body whirl line">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">line grow</div>
                <div class="card-body whirl line grow">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">line back-and-forth</div>
                <div class="card-body whirl line back-and-forth">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">line back-and-forth grow</div>
                <div class="card-body whirl line back-and-forth grow">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">sphere</div>
                <div class="card-body whirl sphere">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">sphere vertical</div>
                <div class="card-body whirl sphere vertical">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">bar</div>
                <div class="card-body whirl bar">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">bar follow</div>
                <div class="card-body whirl bar follow">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">shadow</div>
                <div class="card-body whirl shadow">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">shadow oval</div>
                <div class="card-body whirl shadow oval">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">shadow oval right</div>
                <div class="card-body whirl shadow oval right">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-lg-3">
            <!-- START card-->
            <div class="card card-default">
                <div class="card-header text-truncate">no-overlay</div>
                <div class="card-body whirl no-overlay">
                    <p>Suspendisse cursus, nisi eu aliquam ultricies, orci augue auctor mi, quis egestas nibh erat vitae justo.</p>
                </div>
            </div><!-- END card-->
        </div>
    </div><!-- END row-->
</div>