   <!-- Page content-->
<div class="content-wrapper">
    <div class="content-header">
        <div class="content-title">Widgets</div>
    </div><!-- START row-->
    <div class="row">
        <div class="col-xl-4">
            <!-- START widget-->
            <div class="card">
                <img class="card-img-top img-fluid" src="img/bg1.jpg" alt="Image">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <p>Comments</p>
                            <h3 class="m-0 text-danger">700</h3>
                        </div>
                        <div class="col">
                            <p>Likes</p>
                            <h3 class="m-0 text-danger">1500</h3>
                        </div>
                        <div class="col">
                            <p>Shots</p>
                            <h3 class="m-0 text-danger">300</h3>
                        </div>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
        <div class="col-xl-4">
            <!-- START widget-->
            <div class="card">
                <div class="card-body">
                    <div class="media p-1 mt-0" href="#">
                        <img class="mr-3 rounded-circle" src="img/user/09.jpg" style="width: 100px; height: 100px;" alt="Image">
                        <div class="media-body">
                            <div class="media-heading">
                                <h3 class="mt-0">Sammy Sam</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-sm"><em class="fa fa-map-marker fa-fw"></em> Nowhere, Neverland</li>
                                    <li class="mb-sm"><em class="fa fa-twitter fa-fw"></em> samtommy</li>
                                    <li class="mb-sm"><em class="fa fa-envelope fa-fw"></em> samtommy@mail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-inverse rounded-bottom">
                    <div class="row text-center">
                        <div class="col">
                            <p class="m-0 h3">700</p>
                            <p class="m-0 text-muted">Followers</p>
                        </div>
                        <div class="col">
                            <p class="m-0 h3">1500</p>
                            <p class="m-0 text-muted">Following</p>
                        </div>
                        <div class="col">
                            <p class="m-0 h3">510</p>
                            <p class="m-0 text-muted">Loved</p>
                        </div>
                    </div>
                </div>
            </div><!-- END widget-->
            <!-- START widget-->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 text-center"><img class="img-thumbnail rounded-circle" src="img/user/06.jpg" style="width: 80px; height: 80px; max-width: 100%" alt="Image"></div>
                        <div class="col-sm-8">
                            <div class="float-right"><a class="btn btn-success" href="#">Follow</a></div>
                            <h3 class="mt-0">Mia Sorrey</h3>
                            <p class="text-muted">150 Following / 100 Followers</p>
                        </div>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-sm-6">
                    <!-- START widget-->
                    <div class="card bg-info">
                        <div class="card-body text-center">
                            <div class="text-lg m-0">22</div>
                            <p>tweets</p>
                            <div class="mb-lg"></div><em class="fab fa-twitter text-alpha"></em>
                        </div>
                    </div><!-- END widget-->
                </div>
                <div class="col-sm-6">
                    <!-- START widget-->
                    <div class="card bg-warning">
                        <div class="card-body text-center">
                            <div class="text-lg m-0">18&deg;</div>
                            <p>Almagro</p>
                            <div class="mb-lg"></div><em class="fa fa-sun"></em>
                        </div>
                    </div><!-- END widget-->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- START widget-->
                    <div class="card bg-danger">
                        <div class="card-body text-center">
                            <div class="radial-bar radial-bar-20 radial-bar radial-bar-danger m-0"><img src="img/user/03.jpg"></div>
                            <p class="mb-0"><strong>20%</strong>complete</p>
                        </div>
                    </div><!-- END widget-->
                </div>
                <div class="col-sm-6">
                    <!-- START widget-->
                    <div class="card bg-success">
                        <div class="card-body text-center">
                            <p><img class="rounded-circle" src="img/user/08.jpg" style="width: 80px; height: 80px;"></p>
                            <p class="mb-0"><strong>Mia is now following you</strong></p>
                        </div>
                    </div><!-- END widget-->
                </div>
            </div>
        </div>
    </div><!-- END row-->
    <!-- START row-->
    <div class="row">
        <div class="col-xl-3">
            <!-- START card-->
            <div class="card border-0">
                <div class="row row-flush">
                    <div class="col-4 bg-info text-center d-flex align-items-center justify-content-center rounded-left"><em class="fa fa-users fa-2x"></em></div>
                    <div class="col-8">
                        <div class="card-body text-center">
                            <h4 class="mt-0">10k</h4>
                            <p class="mb-0 text-muted">VISITORS</p>
                        </div>
                    </div>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-xl-3">
            <!-- START card-->
            <div class="card border-0">
                <div class="row row-flush">
                    <div class="col-4 bg-danger text-center d-flex align-items-center justify-content-center rounded-left"><em class="fa fa-music fa-2x"></em></div>
                    <div class="col-8">
                        <div class="card-body text-center">
                            <h4 class="mt-0">100%</h4>
                            <p class="mb-0 text-muted">VOLUME</p>
                        </div>
                    </div>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-xl-3">
            <!-- START card-->
            <div class="card border-0">
                <div class="row row-flush">
                    <div class="col-4 bg-inverse text-center d-flex align-items-center justify-content-center rounded-left"><em class="fas fa-code-branch fa-2x"></em></div>
                    <div class="col-8">
                        <div class="card-body text-center">
                            <h4 class="mt-0">150</h4>
                            <p class="mb-0 text-muted">FORKS</p>
                        </div>
                    </div>
                </div>
            </div><!-- END card-->
        </div>
        <div class="col-xl-3">
            <!-- START card-->
            <div class="card border-0">
                <div class="row row-flush">
                    <div class="col-4 bg-green text-center d-flex align-items-center justify-content-center rounded-left"><em class="fa fa-inbox fa-2x"></em></div>
                    <div class="col-8">
                        <div class="card-body text-center">
                            <h4 class="mt-0">10</h4>
                            <p class="mb-0 text-muted">NEW MESSAGES</p>
                        </div>
                    </div>
                </div>
            </div><!-- END card-->
        </div>
    </div><!-- END row-->
    <!-- START row-->
    <div class="row">
        <div class="col-xl-4">
            <!-- START widget-->
            <div class="card">
                <div class="card-body bg-success rounded-top">
                    <div class="h5 mt-0">Received all time</div><!-- Line chart-->
                    <div class="sparkline" data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true" values="1,3,4,7,5,9,4,4,7,5,9,6,4"></div><!-- Bar chart-->
                    <div class="text-center">
                        <div class="sparkline" data-bar-color="#fff" data-height="50" data-bar-width="6" data-bar-spacing="6">1,3,4,7,5,9,4,4,7,5,9,6,4</div>
                    </div>
                </div>
                <div class="card-body bg-inverse rounded-bottom">
                    <div class="row text-center">
                        <div class="col">
                            <p class="m-0 h3">15080</p>
                            <p class="m-0 text-muted">Shot Views</p>
                        </div>
                        <div class="col">
                            <p class="m-0 h3">12000</p>
                            <p class="m-0 text-muted">Likes</p>
                        </div>
                        <div class="col">
                            <p class="m-0 h3">5100</p>
                            <p class="m-0 text-muted">Comments</p>
                        </div>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
        <div class="col-xl-4">
            <!-- START widget-->
            <div class="card">
                <div class="card-body bg-primary rounded-top">
                    <div class="h5 mt-0">Monthly incomes</div><!-- Line chart-->
                    <div class="sparkline" data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true" values="1,3,4,7,5,9,4,4,7,5,9,6,4"></div>
                </div>
                <div class="card-body bg-inverse rounded-bottom">
                    <div class="row text-center">
                        <div class="col">
                            <!-- Bar chart-->
                            <div class="sparkline" data-bar-color="primary" data-height="30" data-bar-width="6" data-bar-spacing="6">1,3,4,7,5,9,4,4,7,5,9,6,4</div>
                        </div>
                        <div class="col">
                            <h4 class="m-0">+150</h4>
                            <p class="m-0 text-muted"><small>From last month</small></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <div class="p-2">
                                <p class="m-0 text-muted">Gross income</p>
                                <h4 class="m-0">12000</h4>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-2">
                                <p class="m-0 text-muted">Net income</p>
                                <h4 class="m-0">5100</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
        <div class="col-xl-4 mb-3">
            <!-- START widget-->
            <div class="row row-flush">
                <div class="col-8"><img class="rounded-left img-fluid" src="img/bg1.jpg"></div>
                <div class="col-4 bg-warning rounded-right">
                    <div class="text-center pt-2">
                        <div class="text-lg mt-0">24&deg;</div>
                        <p>Sunny</p><em class="fa fa-sun fa-2x"></em>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
    </div><!-- END row-->
    <!-- START row-->
    <div class="row">
        <div class="col-xl-4 mb-3">
            <!-- START widget-->
            <div class="row row-flush">
                <div class="col-5"><img class="img-fluid" src="img/bg2.jpg"></div>
                <div class="col-7 bg-white">
                    <div class="p-3">
                        <div class="float-right"><a class="btn btn-success btn-sm" href="#">Register</a></div>
                        <p><span class="text-lg">12</span>May</p>
                        <p><strong>NEW EVENT HERE</strong></p>
                        <p>Donec posuere neque in elit luctus tempor consequat enim egestas. Nulla dictum egestas leo at lobortis.</p>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
        <div class="col-xl-4">
            <!-- START widget-->
            <div class="card bg-green">
                <div class="card-body text-center">
                    <div class="clearfix">
                        <div class="float-left">200 Following</div>
                        <div class="float-right">150 Followers</div>
                    </div><img class="img-thumbnail rounded-circle" src="img/user/06.jpg" style="width: 80px; height: 80px;" alt="Image">
                    <h4 class="mt-0">Mika Allwey</h4>
                    <p class="m-0"><em class="fa fa-fw fa-map-marker"></em> San Francisco, California</p>
                    <div class="clearfix">
                        <div class="float-left">15k Likes</div>
                        <div class="float-right">100 Feeds</div>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
        <div class="col-xl-4">
            <!-- START widget-->
            <div class="card">
                <div class="gmap" data-gmap="" data-address="276 N TUSTIN ST, ORANGE, CA 92867" data-zoom="14" style="height: 150px;"></div>
                <div class="card-body bg-danger rounded-bottom">
                    <div class="row">
                        <div class="col-5">
                            <div class="h2 m-0">Meet Us!</div>
                        </div>
                        <div class="col-2"><em class="fa fa-map-marker fa-3x"></em></div>
                        <div class="col-5">
                            <p class="m-0">Street 123</p>
                            <p class="m-0">Melbourne, Australia</p>
                        </div>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
    </div><!-- END row-->
    <!-- START row-->
    <div class="row">
        <div class="col-xl-4">
            <!-- START card-->
            <div class="card">
                <div class="d-flex">
                    <div class="w-50 bb br px-3">
                        <div class="d-flex align-items-center">
                            <em class="fa fa-users fa-2x text-info"></em>
                            <div class="ml-auto">
                                <div class="card-body text-center">
                                    <h4 class="mt-0">10k</h4>
                                    <p class="mb-0 text-muted">VISITORS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-50 bb px-3">
                        <div class="d-flex align-items-center">
                            <em class="fa fa-music fa-2x text-danger"></em>
                            <div class="ml-auto">
                                <div class="card-body text-center">
                                    <h4 class="mt-0">100%</h4>
                                    <p class="mb-0 text-muted">VOLUME</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="w-50 br px-3">
                        <div class="d-flex align-items-center">
                            <em class="fas fa-code-branch fa-2x text-inverse"></em>
                            <div class="ml-auto">
                                <div class="card-body text-center">
                                    <h4 class="mt-0">150</h4>
                                    <p class="mb-0 text-muted">FORKS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-50 px-3">
                        <div class="d-flex align-items-center">
                            <em class="fa fa-inbox fa-2x text-success"></em>
                            <div class="ml-auto">
                                <div class="card-body text-center">
                                    <h4 class="mt-0">10</h4>
                                    <p class="mb-0 text-muted">MESSAGES</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END card-->
            <!-- START card-->
            <div class="card">
                <div class="d-flex">
                    <div class="w-50 bb br px-3">
                        <div class="d-flex align-items-center">
                            <!-- Bar chart-->
                            <div class="sparkline" data-bar-color="#5d9cec" data-height="20" data-bar-width="3" data-bar-spacing="2" data-values="5,9,4,1,3,4,7,5"></div>
                            <div class="ml-auto">
                                <div class="card-body text-right">
                                    <h4 class="mt-0">10k</h4>
                                    <p class="mb-0 text-muted">VISITORS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-50 bb px-3">
                        <div class="d-flex align-items-center">
                            <!-- Bar chart-->
                            <div class="sparkline" data-bar-color="#5d9cec" data-height="20" data-bar-width="3" data-bar-spacing="2" data-values="1,2,3,4,5,6,7,8,9"></div>
                            <div class="ml-auto">
                                <div class="card-body text-right">
                                    <h4 class="mt-0">100%</h4>
                                    <p class="mb-0 text-muted">CONVERSIONS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="w-50 br px-3">
                        <div class="d-flex align-items-center">
                            <!-- Bar chart-->
                            <div class="sparkline" data-bar-color="#5d9cec" data-height="20" data-bar-width="3" data-bar-spacing="2" data-values="1,0,4,9,5,7,8,4,7"></div>
                            <div class="ml-auto">
                                <div class="card-body text-right">
                                    <h4 class="mt-0">150</h4>
                                    <p class="mb-0 text-muted">RETURNS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-50 px-3">
                        <div class="d-flex align-items-center">
                            <!-- Bar chart-->
                            <div class="sparkline" data-bar-color="#5d9cec" data-height="20" data-bar-width="3" data-bar-spacing="2" data-values="1,5,2,2,8,4,4,8"></div>
                            <div class="ml-auto">
                                <div class="card-body text-right">
                                    <h4 class="mt-0">10</h4>
                                    <p class="mb-0 text-muted">UNIQUES</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- START card-->
        </div>
        <div class="col-xl-4">
            <!-- START widget-->
            <div class="card">
                <div class="half-float">
                    <img class="img-fluid rounded-top" src="img/bg3.jpg">
                    <div class="half-float-bottom"><img class="img-thumbnail rounded-circle" src="img/user/09.jpg" style="width: 120px; height: 120px;" alt="Image"></div>
                </div>
                <div class="card-body text-center">
                    <h3 class="m-0">Lorna Mclogan</h3>
                    <p class="text-muted">Creative Director</p>
                    <p>Proin metus justo, commodo in ultrices at, lobortis sit amet dui. Fusce dolor purus, adipiscing a tempus at, gravida vel purus.</p>
                </div>
                <div class="card-body text-center bg-gray-lighter">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="m-0">700</h3>
                            <p class="m-0">Following</p>
                        </div>
                        <div class="col-4">
                            <h3 class="m-0">1500</h3>
                            <p class="m-0">Likes</p>
                        </div>
                        <div class="col-4">
                            <h3 class="m-0">300</h3>
                            <p class="m-0">Photos</p>
                        </div>
                    </div>
                </div>
            </div><!-- END widget-->
        </div>
        <div class="col-xl-4">
            <!-- START card-->
            <div class="card">
                <div class="card-body rounded-top text-center bg-center" style="background-image: url('img/bg4.jpg')">
                    <div class="row">
                        <div class="col-12 text-white">
                            <img class="img-thumbnail rounded-circle thumb128" src="img/user/06.jpg" alt="Image">
                            <h3 class="m-0">Marin</h3>
                            <p class="m-0"><em class="fab fa-twitter fa-fw"></em> marin</p>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center bg-gray-darker">
                    <div class="row">
                        <div class="col-4"><a class="text-white" href="#"><em class="fas fa-user fa-2x"></em></a></div>
                        <div class="col-4"><a class="text-white" href="#"><em class="fa fa-heart fa-2x"></em></a></div>
                        <div class="col-4"><a class="text-white" href="#"><em class="fa fa-comments fa-2x"></em></a></div>
                    </div>
                </div>
                <div class="list-group"><a class="list-group-item" href="#"><em class="fa-fw far fa-clock text-muted"></em> Recent Activity</a><a class="list-group-item" href="#"><em class="fa-fw fa fa-user text-muted"></em> Following</a><a class="list-group-item" href="#"><em class="fa-fw far fa-folder-open text-muted"></em> Photos</a></div>
            </div><!-- END card-->
        </div>
    </div><!-- END row-->
</div>